{
  "logger": {
    "Spark.Core.Util.ABLObjectsReport": {
      "logLevel": "TRACE",
      "filters": [
        "ABL_SUBSTITUTE_FORMAT",
        "ERROR_FORMAT",
		{
          "name": "TOKEN_FORMAT",
		  "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
		},
        {
          "name": "NAMED_FILE_WRITER",
          "fileName": "${session.temp-dir}/ABLObjectsReport-${t.today}.log",
          "appendTo": true
        }
      ]
    }
  }
}
