{
    "logger": {
        "OpenEdge.Web.DataObject.DataObjectHandler": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
                },
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/DOH-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "AppServerTransport": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
                },
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/APSV-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "Spark.Diagnostic.Util.RemoteMetrics": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
                },
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/metrics/Actions-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "Spark.Diagnostic.Util.OEMetrics": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
                },
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/metrics/OEMetrics-A${req.agent}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        }
    }
}