*.r
*.e
/oe117/Sports/PASOEContent/WEB-INF/openedge/Business/UnitTest/ApsvTest.p
/oe117/Sports/tools/testApsvHello.p
*.prof
*.xref.xml
/oe122/DynSports/server.log
/oe122/DynSports/results.xml
/oe122/DynSports/tests/profiler
/oe122/DynSports/tests/*.log
