{
  "logger": {
    "Spark.Core.Util.ABLObjectsReport": {
      "logLevel": "DEBUG",
      "filters": [
        "ABL_SUBSTITITE_FORMAT",        
        "ERROR_FORMAT",
        {
            "name": "TOKEN_FORMAT",
            "format": "${msg}"
        },
        {
          "name": "NAMED_FILE_WRITER",
          "fileName": "${session.temp-dir}/ABLObjectsReport-${t.TODAY}.log",
          "appendTo": false
        }
      ]
    }
  }
}
