{
    "logger": {
        "OpenEdge.Net.HTTP": {
            "logLevel": "INFO",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.level} - ${msg}"
                },
                "REPLACE_TOKENS_FORMAT",
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "OEHttpClient.log",
                    "appendTo": true
                }
            ]
        }
    }
}