{
    "logger": {
        "Spark.Diagnostic.Util.ABLObjectsReport": {
            "logLevel": "TRACE",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
                },
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/metrics/ABLObjects/Actions-${t.today}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        },
        "Spark.Diagnostic.Util.OEMetrics": {
            "logLevel": "TRACE",
            "filters": [
                "ABL_SUBSTITUTE_FORMAT",
                "ERROR_FORMAT",
                {
                    "name": "TOKEN_FORMAT",
                    "format": "[${t.now}] ${msg.logger} | ${msg.level} - ${msg}"
                },
                {
                    "name": "NAMED_FILE_WRITER",
                    "fileName": "${session.temp-dir}/metrics/OEMetrics-${t.today}-S${req.session}.log",
                    "appendTo": true
                }
            ]
        }
    }
}